<div class="row">
  <div class="jumbotron">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h1>Paul Gonzalez</h1>
      <h2>
        <small class="jumbotron-subtext">
          Let's go on a product development journey together
        </small>
      </h2>
    </div>
  </div>
</div>

<%= render 'layouts/nav' %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <hr>
      <div class="content-section">
        <h3>
          <strong>Projects</strong>
        </h3>

        <div class="row">
          <div class="col-md-4">
            <%= image_tag 'http://www.circusschoolhannesenco.nl/wp-content/themes/feather11/img/placeholder.png', class: 'img-responsive' %>
          </div>
          <div class="col-md-4">
            <%= image_tag 'http://www.circusschoolhannesenco.nl/wp-content/themes/feather11/img/placeholder.png', class: 'img-responsive' %>
          </div>
          <div class="col-md-4">
            <%= image_tag 'http://www.circusschoolhannesenco.nl/wp-content/themes/feather11/img/placeholder.png', class: 'img-responsive' %>
          </div>
        </div>

      </div>
      <div class="content-section">
        <h3>
          <strong>Appearances and screencasts</strong>
        </h3>
        <div class="row">
          <div class="col-md-4">
            <%= image_tag 'http://www.circusschoolhannesenco.nl/wp-content/themes/feather11/img/placeholder.png', class: 'img-responsive' %>
          </div>
          <div class="col-md-4">
            <%= image_tag 'http://www.circusschoolhannesenco.nl/wp-content/themes/feather11/img/placeholder.png', class: 'img-responsive' %>
          </div>
          <div class="col-md-4">
            <%= image_tag 'http://www.circusschoolhannesenco.nl/wp-content/themes/feather11/img/placeholder.png', class: 'img-responsive' %>
          </div>
        </div>
      </div>
      <div class="content-section">
        <h3>
          <strong>Other experiences</strong>
        </h3>
        <div class="row">
          <div class="col-md-4">
            <%= image_tag 'http://www.circusschoolhannesenco.nl/wp-content/themes/feather11/img/placeholder.png', class: 'img-responsive' %>
          </div>
          <div class="col-md-4">
            <%= image_tag 'http://www.circusschoolhannesenco.nl/wp-content/themes/feather11/img/placeholder.png', class: 'img-responsive' %>
          </div>
          <div class="col-md-4">
            <%= image_tag 'http://www.circusschoolhannesenco.nl/wp-content/themes/feather11/img/placeholder.png', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
