<div class="jumbotron jelly-jumbo">
  <%= render 'hiring_call_out' %>

  <div class="container">
    <%= render 'step_one_welcome' %>

    <%= render 'step_two' %>

    <%= render 'person_al' %>
    <%= render 'person_mj' %>
    <%= render 'person_dr' %>
    <%= render 'person_other' %>

    <%= render 'location_office' %>
    <%= render 'location_train' %>
    <%= render 'location_uber' %>
    <%= render 'location_remote_island' %>

    <%= render 'reason_one' %>
    <%= render 'reason_two' %>
    <%= render 'reason_three' %>
    <%= render 'final_message' %>
  </div>

</div>

<%= render 'static_content' %>
